<!-- eslint-disable max-len -->

<template>
    <div>
        <div class="section">
            <h1 class="title is-1 has-text-centered">About</h1>
        </div>
        <div class="section">
            <ul>
                <li v-if="username">
                    <b>
                        this.$store.state.token:
                    </b>
                    {{ this.$store.state.token }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

// noinspection JSUnusedGlobalSymbols
export default {
    name: 'LoginView',
    data() {
        return {
            username: null,
        };
    },
};
</script>

<style scoped>
</style>

<!-- eslint-disable max-len -->
