<!-- eslint-disable max-len -->

<template>
    <div v-if="tvshow">
        <br>
        <div v-if="this.$store.state.token!==''" class="columns is-centered" role="button">
            <button v-if="!this.res.isFavorite"
                class="button is-primary"
                v-on:click="this.ajoutFav">Ajouter aux favoris</button>
            <button v-else
                class="button is-danger"
                v-on:click="this.SupprimerFav">Supprimer des favoris</button>
        </div>

        <div class="columns" role="main">
            <div class="column is-5">
                <img :alt="tvshow.title" :src="tvshow.imgURL">
            </div>
            <div class="column is-7">
                <div class="columns is-multiline">
                    <div class="column is-8">
                        <h2 class="title is-2">{{tvshow.title}}</h2>
                    </div>
                    <div class="column is-4 has-text-right">
                        <!---->
                    </div>
                    <h5 class="column is-12">{{tvshow.year}}</h5>
                    <div class="column is-2">
                        <p>{{tvshow.episodeCount}} episodes</p>
                    </div>
                    <div class="column is-2">
                        <p>{{tvshow.tvParentalGuideline}}</p>
                    </div>
                    <div class="column is-8">
                        <p class="has-text-right">{{
                                tvshow.genres.map((e) => e.name)
                                    .join(', ')
                            }}
                        </p>
                    </div>
                    <div class="column is-2">
                        <p>Studio</p>
                    </div>
                    <div class="column is-10">
                        <p>{{ tvshow.studio.name }}</p>
                    </div>
                    <div class="column is-12 has-text-justified">
                        <p>{{ tvshow.plot }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile scrolling-wrapper" v-if="tvshow.roles">
            <ActorView
                v-for="r in tvshow.roles"
                v-bind:key="r.roleId"
                v-bind:actor="r" />
        </div>
        <div class="columns is-mobile scrolling-wrapper" v-if="tvshow.seasons">
            <SeasonView
                v-for="s in tvshow.seasons"
                v-bind:key="s.seasonId"
                v-bind:season="s" />
        </div>
        <p style="margin-bottom: 50px;">&nbsp;</p>
    </div>
</template>

<script>
import { svrURL } from '@/constants';
import SeasonView from '@/components/SeasonView.vue';
import ActorView from '@/components/ActorView.vue';

export default {
    name: 'DetailsView',
    components: { SeasonView, ActorView },
    data() {
        return {
            tvshow: null,
            res: [],
        };
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getTvshow();
        this.verifFav();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async getTvshow() {
            const rep = await fetch(`${svrURL}/tvshow?tvshowId=${this.$route.params.tvshowId}`);
            if (rep.ok) {
                this.tvshow = await rep.json();
            }
        },
        async verifFav() {
            const rep = await fetch(`${svrURL}/favorite?tvshowId=${this.$route.params.tvshowId}`, {
                method: 'GET',
                headers: { authorization: this.$store.state.token },
            });
            this.res = await rep.json();
        },
        async ajoutFav() {
            await fetch(`${svrURL}/favorite?tvshowId=${this.$route.params.tvshowId}`, {
                method: 'POST',
                headers: { authorization: this.$store.state.token },
                body: { isFavorite: true },
            });
            this.$router.go();
        },
        async SupprimerFav() {
            await fetch(`${svrURL}/favorite?tvshowId=${this.$route.params.tvshowId}`, {
                method: 'DELETE',
                headers: { authorization: this.$store.state.token },
                body: { isFavorite: false },
            });
            this.$router.go(); // redirection vers la page d'accueil
            // j'ai pas trouvé mieux meme si la vue favorie etait pas a faire
        },
    },
};

</script>

<style scoped>
.scrolling-wrapper {
    overflow:auto;
}
</style>

<!-- eslint-disable max-len -->
