<!-- eslint-disable max-len -->

<template>
        <div class="block" v-if="episode" role="main">
            <h1 class="title is-3 has-text-centered">{{ episode.tvshowTitle }}</h1>
            <h3 class="title is-3 has-text-centered">
                {{ episode.seasonNumber }}
                <span> - </span>
                <span>{{ episode.number }}</span>
                <span> - </span>
                <span>{{ episode.title }}</span>
            </h3>
            <p>{{ episode.runtime }} mins </p>
            <p>TV-14</p>
            <p class="has-text-justified">{{ episode.plot }}</p>
            <div id="imgDiv" class="has-text-centered">
                <router-link :to="{ name: 'ViewEpisode', params: { episodeId: episode.episodeId } }">
                    <img id="epImg" :alt="episode.title" :src="episode.imgURL">
                    <img id="playImg" alt="play" src="https://4d6tp2.sv55.cmaisonneuve.qc.ca/img/play.9fcb8068.png">
                </router-link>
            </div>
        </div>
</template>

<script>
import { svrURL } from '@/constants';

export default {
    name: 'DetailsEpisodeView',
    data() {
        return {
            episode: null,
        };
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getEpisode();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async getEpisode() {
            const rep = await fetch(`${svrURL}/episode?episodeId=${this.$route.params.episodeId}`);
            if (rep.ok) {
                this.episode = await rep.json();
            }
        },
    },
};

</script>

<style scoped>
#imgDiv {
  padding-top: 50px;
}
#epImg {
  position: relative;
}
#playImg {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
</style>

<!-- eslint-disable max-len -->
