<!-- eslint-disable max-len -->

<template>
    <div class="section">
        <div class="row columns is-multiline is-mobile" v-if="tvshows" role="main">
            <TvshowView
                v-for="t in tvshowsPag"
                v-bind:key="t.tvshowId"
                v-bind:tvshow="t" />
        </div>
        <nav class="pagination" role="navigation" aria-label="pagination" >
            <button :class="this.pageCourante === 1 ? 'pagination-previous disable' : 'pagination-previous'"
                v-on:click="this.pagePrecedente">&lt;</button>
            <button :class="this.pageCourante === nbPages ? 'pagination-next disable' : 'pagination-next'"
                v-on:click="this.pageSuivante">&gt;</button>
            <ul class="pagination-list" >
                <li  v-for="id in nbPages" v-bind:key="id">
                    <button :class="this.pageCourante === id ? 'pagination-link is-current' : 'pagination-link'"
                            v-on:click="this.changerPage(id)">{{id}}</button>
                </li>
            </ul>
        </nav>
        <p style="margin-bottom: 50px;">&nbsp;</p>
    </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';
import TvshowView from '@/components/TvshowView.vue';

// noinspection JSUnusedGlobalSymbols
export default {
    name: 'FavoriteView',
    components: { TvshowView },
    data() {
        return {
            tvshows: [],
            taillePage: 8,
            pageCourante: 1,
        };
    },
    computed: {
        tvshowsPag() {
            const nbTvShow = (this.pageCourante - 1) * this.taillePage;
            return this.tvshows.slice(nbTvShow, nbTvShow + 8);
        },
        nbShows() {
            return this.tvshows.length;
        },
        nbPages() {
            let nbPag = Math.floor(this.nbShows / this.taillePage);
            if (this.nbShows % this.taillePage > 0) nbPag += 1;
            return nbPag;
        },
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getFavorites();
        this.verifCo();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        verifCo() {
            if (this.$store.state.token === '') this.$router.push('/login');
        },
        async getFavorites() {
            const BearerToken = this.$store.state.token;
            const rep = await fetch(`${svrURL}/favorites`, {
                method: 'GET',
                headers: { authorization: BearerToken },
            });
            if (rep.ok) {
                this.tvshows = await rep.json();
            }
        },
        changerPage(nbPage) {
            this.pageCourante = nbPage;
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) this.pageCourante -= 1;
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) this.pageCourante += 1;
        },
    },
};
</script>

<style scoped>
.disable {
  background-color:#dbdbdb;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;opacity:.5
}
</style>
