<!-- eslint-disable max-len -->

<template>
<div>
    <h1 class="title is-1 has-text-centered">History</h1>
    <div class="row columns is-multiline is-mobile" v-if="this.$store.state.episodes" role="main">
        <HistoryepisodeView
            v-for="t in tvshowsPag"
            v-bind:key="t.episodeId"
            v-bind:episode="t" />
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination" >
        <button :class="this.pageCourante === 1 ? 'pagination-previous disable' : 'pagination-previous'"
            v-on:click="this.pagePrecedente">&lt;</button>
        <button :class="this.pageCourante === nbPages ? 'pagination-next disable' : 'pagination-next'"
            v-on:click="this.pageSuivante">&gt;</button>
        <ul class="pagination-list" >
            <li  v-for="id in nbPages" v-bind:key="id">
                <button :class="this.pageCourante === id ? 'pagination-link is-current' : 'pagination-link'"
                        v-on:click="this.changerPage(id)">{{id}}</button>
            </li>
        </ul>
    </nav>
    <p style="margin-bottom: 50px;">&nbsp;</p>
</div>
</template>

<script>
import { svrURL } from '@/constants';
import HistoryepisodeView from '@/components/HistoryepisodeView.vue';

export default {
    name: 'HomeView',
    components: { HistoryepisodeView },
    data() {
        return {
            taillePage: 6,
            pageCourante: 1,
        };
    },
    computed: {
        tvshowsPag() {
            const nbTvShow = (this.pageCourante - 1) * this.taillePage;
            return this.$store.state.episodes.slice(nbTvShow, nbTvShow + 6);
        },
        nbShows() {
            return this.$store.state.episodes.length;
        },
        nbPages() {
            let nbPag = Math.floor(this.nbShows / this.taillePage);
            if (this.nbShows % this.taillePage > 0) nbPag += 1;
            return nbPag;
        },
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getHistory();
        this.verifCo();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        verifCo() {
            if (this.$store.state.token === '') this.$router.push('/login');
        },
        async getHistory() {
            const rep = await fetch(`${svrURL}/user/history`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    authorization: this.$store.state.token,
                },
            });
            if (rep.ok) {
                this.$store.dispatch('storeEpisode', await rep.json());
                console.log(this.$store.state.episodes);
            }
        },
        changerPage(nbPage) {
            this.pageCourante = nbPage;
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) this.pageCourante -= 1;
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) this.pageCourante += 1;
        },
    },
};

</script>

<style scoped>
.disable {
  background-color:#dbdbdb;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;opacity:.5
}
</style>

<!-- eslint-disable max-len -->
