<!-- eslint-disable max-len -->

<template>
<div>
    <div class="section" role="search">
        <div class="columns is-centered">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label for="titre" class="label">Titre</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input
                                id="titre" class="input" type="text"
                                placeholder="Titre de la série" v-model="tvshowTitle">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" style="padding-left:20px">
                <div class="field-label is-normal">
                    <label class="label" for="studio">Studio</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control" style="min-width: 200px">
                            <div class="select is-fullwidth">
                                <select id="studio" v-model="tvshowStudio">
                                    <option></option>
                                    <option
                                        v-for="s in studios"
                                        v-bind:key="s.studioId"
                                        v-bind:value="s.studioId">
                                        {{ s.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- eslint-disable max-len -->
        <div class="panel">
            <p class="panel-heading"> Genres </p>
            <div class="panel-block">
                <div class="columns is-mobile is-multiline">
                    <div class="column is-2"
                            v-for="g in genres"
                            v-bind:key="g.genreId">
                        <label class="checkbox label" :for="g.genreId">
                            <input type="checkbox" :id="g.genreId"
                                    v-bind:value="g.genreId" v-model="FiltresGenres">
                                {{ g.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row columns is-multiline is-mobile" v-if="tvshows" role="main">
        <TvshowView
            v-for="t in tvshowsPag"
            v-bind:key="t.tvshowId"
            v-bind:tvshow="t" />
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination" >
        <button :class="this.pageCourante === 1 ? 'pagination-previous disable' : 'pagination-previous'"
            v-on:click="this.pagePrecedente">&lt;</button>
        <button :class="this.pageCourante === nbPages ? 'pagination-next disable' : 'pagination-next'"
            v-on:click="this.pageSuivante">&gt;</button>
        <ul class="pagination-list" >
            <li  v-for="id in nbPages" v-bind:key="id">
                <button :class="this.pageCourante === id ? 'pagination-link is-current' : 'pagination-link'"
                        v-on:click="this.changerPage(id)">{{id}}</button>
            </li>
        </ul>
    </nav>
    <p style="margin-bottom: 50px;">&nbsp;</p>
</div>
</template>

<script>
import { svrURL } from '@/constants';
import TvshowView from '@/components/TvshowView.vue';

export default {
    name: 'HomeView',
    components: { TvshowView },
    data() {
        return {
            FiltresGenres: [],
            tvshows: [],
            genres: [],
            studios: [],
            tvshowTitle: '',
            tvshowStudio: '',
            taillePage: 8,
            pageCourante: 1,
        };
    },
    computed: {
        tvShowFiltrer() {
            let tvShowFiltrer = this.tvshows;
            if (this.tvshowStudio !== '') {
                tvShowFiltrer = tvShowFiltrer.filter(
                    (t) => t.studio.studioId === parseInt(this.tvshowStudio, 10),
                );
            }
            if (this.FiltresGenres.length !== 0) {
                const liste = [];
                tvShowFiltrer.forEach((ty) => this.FiltresGenres.every(
                    (fy) => ty.genres.map((f) => f.genreId).includes(fy),
                ) && liste.push(ty));
                tvShowFiltrer = liste;
            }
            if (this.tvshowTitle !== '') {
                tvShowFiltrer = tvShowFiltrer.filter(
                    (t) => t.title.toLowerCase().includes(this.tvshowTitle.toLowerCase()),
                );
            }
            return tvShowFiltrer;
        },
        tvshowsPag() {
            const nbTvShow = (this.pageCourante - 1) * this.taillePage;
            return this.tvShowFiltrer.slice(nbTvShow, nbTvShow + 8);
        },
        nbShows() {
            return this.tvShowFiltrer.length;
        },
        nbPages() {
            let nbPag = Math.floor(this.nbShows / this.taillePage);
            if (this.nbShows % this.taillePage > 0) nbPag += 1;
            return nbPag;
        },
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getTvshows();
        this.getStudios();
        this.getGenres();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async getTvshows() {
            const rep = await fetch(`${svrURL}/tvshows`);
            if (rep.ok) {
                this.tvshows = await rep.json();
            }
        },
        async getStudios() {
            const rep = await fetch(`${svrURL}/studios`);
            if (rep.ok) {
                this.studios = await rep.json();
            }
        },
        async getGenres() {
            const rep = await fetch(`${svrURL}/genres`);
            if (rep.ok) {
                this.genres = await rep.json();
            }
        },
        changerPage(nbPage) {
            this.pageCourante = nbPage;
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) this.pageCourante -= 1;
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) this.pageCourante += 1;
        },
    },
};

</script>

<style scoped>
.disable {
  background-color:#dbdbdb;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;opacity:.5
}
</style>

<!-- eslint-disable max-len -->
