<!-- eslint-disable max-len -->

<template>
    <div class="section">
        <div tabindex="0" class="has-text-centered" v-if="message"
                role="alert" id="errorDiv">
            <div class="title is-3" >
                {{message}}
            </div>
            <router-link :to="{ name: 'login' }">
                se connecter
            </router-link>
        </div>
        <div v-if="episode" role="main">
            <p style="margin-bottom: 50px;">&nbsp;</p>
            <center>
                <video controls>
                    <source :src="episode.videoURL" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </center>
            <p style="margin-bottom: 50px;">&nbsp;</p>
        </div>
    </div>
</template>

<script>
import { svrURL } from '@/constants';

export default {
    name: 'JouerEpisodeView',
    data() {
        return {
            episode: null,
            message: '',
        };
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getEpisode();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async getEpisode() {
            if (this.$store.state.token !== '') {
                const rep = await fetch(`${svrURL}/viewepisode?episodeId=${this.$route.params.episodeId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        authorization: this.$store.state.token,
                    },
                });
                if (rep.ok) {
                    this.episode = await rep.json();
                }
            } else {
                this.message = 'Veuillez vous connecter pour accéder à cette page.';
            }
        },
    },
};

</script>

<style scoped>
#errorDiv {
    white-space: pre;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    }
</style>

<!-- eslint-disable max-len -->
