<!-- eslint-disable max-len -->

<template>
    <div class="section" role="form">
        <h1 class="title is-1 has-text-centered">Login</h1>
        <!---->
        <div>
            <div class="title is-3" tabindex="0" v-if="message"
                role="alert" id="errorDiv">{{message}}
            </div>
        </div>
        <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control has-icons-left">
                <input id="username" autocomplete="username"
                        class="input" placeholder="e1234567"
                        v-model="username" aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">Mot de passe</label>
            <div class="control has-icons-left">
                <input id="password" autocomplete="password"
                        class="input" placeholder="*******"
                        type="password" v-model="password"
                        aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field" role="button">
            <div class="control">
                <button class="button is-success" @click=(connexion)> Connexion </button>
                <button class="button is-danger" @click="this.$router.push({ path: '/' })"> Annuler </button>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable object-curly-newline */
import { svrURL } from '@/constants';

// noinspection JSUnusedGlobalSymbols
export default {
    name: 'LoginView',
    data() {
        return {
            username: '',
            password: '',
            message: '',
        };
    },
    mounted() {
        this.username = sessionStorage.getItem('username');
        this.password = sessionStorage.getItem('password');
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async connexion() {
            if (this.username === '' || this.password === '') {
                this.message = '';
                if (this.username === '') this.message += 'Veuillez saisir votre nom d\'utilisateur. \n';
                if (this.password === '') this.message += 'Veuillez saisir votre mot de passe \n';
                return;
            }
            try {
                const body = {
                    username: this.username,
                    password: this.password,
                };
                const response = await fetch(`${svrURL}/auth/token`, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'POST',
                    body: JSON.stringify(body),
                });
                const data = await response.json();
                if (response.ok) {
                    const { token } = data;
                    const bearerToken = `bearer ${token}`;
                    this.$store.dispatch('storeToken', bearerToken);
                    this.$router.push({ path: '/' });
                } else {
                    this.message = data.message;
                }
            } catch (err) {
                console.error("une erreur s'est produite");
            }
        },
    },
};
</script>

<style scoped>
#errorDiv {
    white-space: pre;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    }
</style>

<!-- eslint-disable max-len -->
