<!-- eslint-disable max-len -->

<template>
    <div class="section" role="form">
        <h1 class="title is-1 has-text-centered">Profile</h1>
        <!---->
        <div>
            <div class="title is-3" tabindex="0" v-if="message"
                role="alert" id="errorDiv">{{message}}
            </div>
        </div>
        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control has-icons-left">
                <input id="email" autocomplete="email"
                        class="input" placeholder="e1234567"
                        aria-required="true"
                        v-model="email" >
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control has-icons-left">
                <input id="username" autocomplete="username"
                        class="input" placeholder="e1234567"
                        v-model="username" aria-describedby="UsernameValid"
                        aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
            <p class="subtitle is-size-7 has-text-primary" id="UsernameValid"
            role="alert">
                Le username doit contenir au moins 5 caractères et au maximum 20. les caractères permis sont A-Z, a-z, 0-9 et le caractère souligné
            </p>
        </div>
        <div class="field">
            <label class="label" for="password">Mot de passe</label>
            <div class="control has-icons-left">
                <input id="password" autocomplete="password"
                        class="input" placeholder="*******"
                        type="password" v-model="password"
                        aria-required="true"
                        aria-describedby="passValid">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            <p class="subtitle is-size-7 has-text-primary"
                id="passValid">
                le mot de passe doit contenir au moins 6 caractères
            </p>
        </div>
        <div class="field">
            <label class="label" for="Confpassword">Confirmer ot de passe</label>
            <div class="control has-icons-left">
                <input id="Confpassword" autocomplete="Confpassword"
                        class="input" placeholder="*******"
                        type="password" v-model="Confpassword"
                        aria-required="true"
                        aria-describedby="CpassValid">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
                <p class="subtitle is-size-7 has-text-primary"
                id="CpassValid">
                la confirmation et le mot de passe doit être identique au mot de passe
            </p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-success" @click=(updateUser)> Update </button>
                <button class="button is-danger" @click="this.$router.push({ path: '/' })"> Annuler </button>
            </div>
        </div>
        <div class="field" role="button">
            <div class="control">
                <button class="button is-danger" @click="deleteUser"> DELETE PROFILE </button>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable max-len */
/* eslint-disable object-curly-newline */
import { svrURL, logout, verification } from '@/constants';

// noinspection JSUnusedGlobalSymbols
export default {
    name: 'ProfileView',
    data() {
        return {
            username: '',
            password: '',
            email: '',
            Confpassword: '',
            message: '',
            CpassValid: '',
        };
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getUser();
        this.verifCo();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        verifCo() {
            if (this.$store.state.token === '') this.$router.push('/login');
        },
        async getUser() {
            try {
                const response = await fetch(`${svrURL}/user`, {
                    method: 'GET',
                    headers: { authorization: this.$store.state.token },
                });
                const data = await response.json();
                if (response.ok) {
                    this.email = data.email;
                    this.username = data.username;
                } this.message = data.message;
            } catch (err) {
                console.error("une erreur s'est produite");
            }
        },
        async deleteUser() {
            if (window.confirm('Voulez vous supprimer votre compte')) {
                try {
                    const response = await fetch(`${svrURL}/user`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            authorization: this.$store.state.token,
                        },
                    });
                    if (response.ok) {
                        logout(this);
                    } else {
                        const data = response.json();
                        this.message = data.message;
                    }
                } catch (err) {
                    console.error("une erreur s'est produite");
                }
            }
        },
        async updateUser() {
            this.message = verification(this.email, this.username, this.password, this.Confpassword);
            if (this.message !== '') return;
            try {
                const body = {
                    email: this.email,
                    username: this.username,
                    password: this.password,
                };
                const response = await fetch(`${svrURL}/user`, {
                    headers: {
                        'Content-Type': 'application/json',
                        authorization: this.$store.state.token,
                    },
                    method: 'POST',
                    body: JSON.stringify(body),
                });
                if (response.ok) {
                    this.message = 'Votre profil a été mis à jour';
                } else {
                    const data = await response.json();
                    this.message = data.message;
                }
            } catch (err) {
                console.error("une erreur s'est produite");
            }
        },
    },
};
</script>

<style scoped>
#errorDiv {
    white-space: pre;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    }
</style>

<!-- eslint-disable max-len -->
