<!-- eslint-disable max-len -->

<template>
        <div v-if="episodes" role="main">
            <h1 class="title is-1 has-text-centered">{{ episodes.tvshowTitle }}</h1>
            <h1 class="title is-1 has-text-centered">{{ episodes.seasonNumber }}</h1>
            <div class="container">
                <div class="columns is-multiline is-mobile">
                    <EpisodesView
                        v-for="e in episodesPag"
                        v-bind:key="e.episodeId"
                        v-bind:episode="e" />
                </div>
            </div>
            <p style="margin-bottom: 50px;">&nbsp;</p>
            <div>
                <nav class="pagination" role="navigation" aria-label="pagination" >
                    <button :class="this.pageCourante === 1 ? 'pagination-previous disable' : 'pagination-previous'"
                        v-on:click="this.pagePrecedente">&lt;</button>
                    <button :class="this.pageCourante === nbPages ? 'pagination-next disable' : 'pagination-next'"
                        v-on:click="this.pageSuivante">&gt;</button>
                    <ul class="pagination-list" >
                        <li  v-for="id in nbPages" v-bind:key="id">
                            <button :class="this.pageCourante === id ? 'pagination-link is-current' : 'pagination-link'"
                                    v-on:click="this.changerPage(id)">{{id}}</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <p style="margin-bottom: 50px;">&nbsp;</p>
        </div>
</template>

<script>
import { svrURL } from '@/constants';
import EpisodesView from '@/components/EpisodesView.vue';

export default {
    name: 'SeasonEpisodesView',
    components: { EpisodesView },
    data() {
        return {
            episodes: null,
            taillePage: 8,
            pageCourante: 1,
        };
    },
    computed: {
        episodesPag() {
            const nbTvShow = (this.pageCourante - 1) * this.taillePage;
            return this.episodes.episodes.slice(nbTvShow, nbTvShow + 8);
        },
        nbEpisodes() {
            return this.episodes.episodeCount;
        },
        nbPages() {
            let nbPag = Math.floor(this.nbEpisodes / this.taillePage);
            if (this.nbEpisodes % this.taillePage > 0) nbPag += 1;
            return nbPag;
        },
    },
    // la fonction mounted sera exécutée au chargement de la vue
    mounted() {
        this.getEpisode();
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async getEpisode() {
            const rep = await fetch(`${svrURL}/episodes?seasonId=${this.$route.params.seasonId}`);
            if (rep.ok) {
                this.episodes = await rep.json();
            }
        },
        changerPage(nbPage) {
            this.pageCourante = nbPage;
        },
        pagePrecedente() {
            if (this.pageCourante >= 2) this.pageCourante -= 1;
        },
        pageSuivante() {
            if (this.pageCourante < this.nbPages) this.pageCourante += 1;
        },
    },
};

</script>

<style scoped>
.disable {
  background-color:#dbdbdb;
  border-color: #dbdbdb;
  box-shadow: none;
  color: #7a7a7a;opacity:.5
}
</style>

<!-- eslint-disable max-len -->
