<!-- eslint-disable max-len -->

<template>
    <div class="section" role="form">
        <h1 class="title is-1 has-text-centered">Sign Up</h1>
        <!---->
        <div>
            <div class="title is-3" tabindex="0" v-if="message"
                role="alert" id="errorDiv">{{message}}
            </div>
        </div>
        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control has-icons-left">
                <input id="email" autocomplete="email"
                        class="input" placeholder="e1234567"
                        v-model="email" aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control has-icons-left">
                <input id="username" autocomplete="username"
                        class="input" placeholder="e1234567"
                        v-model="username" aria-describedby="UsernameValid"
                        aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
            <p class="subtitle is-size-7 has-text-primary" id="UsernameValid"
            role="alert">
                Le username doit contenir au moins 5 caractères et au maximum 20. les caractères permis sont A-Z, a-z, 0-9 et le caractère souligné
            </p>
        </div>
        <div class="field">
            <label class="label" for="password">Mot de passe</label>
            <div class="control has-icons-left">
                <input id="password" autocomplete="password"
                        class="input" placeholder="*******"
                        type="password" v-model="password"
                        aria-describedby="passwdValid"
                        aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
            <p class="subtitle is-size-7 has-text-primary"
                id="passValid">
                le mot de passe doit contenir au moins 6 caractères
            </p>
        </div>
        <div class="field">
            <label class="label" for="Confpassword">Confirmer ot de passe</label>
            <div class="control has-icons-left">
                <input id="Confpassword" autocomplete="Confpassword"
                        class="input" placeholder="*******"
                        type="password" v-model="Confpassword"
                        aria-required="true">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-success" @click=(connexion)> Sign Up </button>
                <button class="button is-danger" @click="this.$router.push({ path: '/' })"> Annuler </button>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable max-len */
/* eslint-disable object-curly-newline */
import { svrURL, verification } from '@/constants';

// noinspection JSUnusedGlobalSymbols
export default {
    name: 'SignupView',
    data() {
        return {
            username: '',
            password: '',
            email: '',
            Confpassword: '',
            message: '',
        };
    },
    // methods contient les méthodes (fonctions) propres à la vue
    methods: {
        async connexion() {
            this.message = verification(this.email, this.username, this.password, this.Confpassword);
            if (this.message !== '') return;
            try {
                const body = {
                    email: this.email,
                    username: this.username,
                    password: this.password,
                };
                const response = await fetch(`${svrURL}/auth/register`, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'POST',
                    body: JSON.stringify(body),
                });
                if (response.ok) {
                    sessionStorage.setItem('username', this.username);
                    sessionStorage.setItem('password', this.password);
                    this.$router.push({ path: '/login' });
                } else {
                    const data = await response.json();
                    this.message = data.message;
                }
            } catch (err) {
                console.error("une erreur s'est produite");
            }
        },
    },
};
</script>

<style scoped>
#errorDiv {
    white-space: pre;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    }
</style>

<!-- eslint-disable max-len -->
