<template>
        <div class="column is-2">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-3by4">
                        <img v-bind:alt="actor.name" v-bind:src="actor.imgURL">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered">
                        <div class="has-text-weight-bold">{{ actor.name }}</div>
                        <div>{{ actor.character }}</div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    name: 'ActorView',
    props: {
        actor: Object,
    },
};
</script>

<!-- eslint-disable max-len -->
