<!-- eslint-disable max-len -->

<template>
    <div :class="this.$store.state.episodesId.includes(parseInt(episode.episodeId, 10))
                    ? 'column is-3-desktop is-4-tablet is-12-mobile disable'
                    : 'column is-3-desktop is-4-tablet is-12-mobile'">
        <router-link
                :to="{ name: 'episodedetails', params: { episodeId: episode.episodeId } }">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <img :alt="episode.title" :src="episode.imgURL">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h4 class="title is-4 mb-0">{{ episode.title }}</h4>
                        <div>{{ episode.number }}</div>
                    </div>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'EpisodesView',
    props: {
        episode: Object,
    },
};
</script>

<!-- eslint-disable max-len -->
