<!-- eslint-disable max-len -->

<template>
    <div class="column is-4-desktop is-4-tablet is-12-mobile">
        <div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <img :alt="episode.title" :src="episode.imgURL">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered">
                        <router-link
                            :to="{ name: 'details', params: { tvshowId: episode.tvshowId } }"
                            class="title is-4 mb-0 has-text-link">
                            {{ episode.tvshowTitle }}
                        </router-link>
                        <br>
                        <router-link
                            :to="{ name: 'season', params: { seasonId: episode.seasonId } }"
                            class="title is-4 mb-0 has-text-link">
                            Season {{ episode.seasonNumber }}
                        </router-link>
                        <br>
                        <router-link
                            :to="{ name: 'episodedetails', params: { episodeId: episode.episodeId } }"
                            class="title is-4 mb-0 has-text-link">
                            {{ episode.episodeTitle }}
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'HistoryepisodeView',
    props: {
        episode: Object,
    },
};
</script>

<!-- eslint-disable max-len -->
