<!-- eslint-disable max-len -->

<template>
        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <button class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <router-link :to="{ path: '/' }"
                    class="navbar-item"> TP2 </router-link>
                    <router-link class="navbar-item" v-if="this.$store.state.token !== ''"
                                    :to="{ path: '/favorites' }"> Favorites </router-link>
                    <!---->
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <router-link class="navbar-item" v-if="this.$store.state.token === ''"
                                    :to="{ path: '/signup' }"> Sign Up </router-link>
                            <router-link class="navbar-item" v-if="this.$store.state.token !== ''"
                                    :to="{ path: '/history' }"> History </router-link>
                            <router-link class="navbar-item" v-if="this.$store.state.token !== ''"
                                    :to="{ path: '/profile' }"> Profile </router-link>
                            <router-link class="navbar-item" v-if="this.$store.state.token === ''"
                                        :to="{ path: '/login' }"> Login </router-link>
                            <router-link class="navbar-item is-danger" v-if="this.$store.state.token !== ''"
                                :to="{ path: '/login' }"
                                @click="logout"> Logout </router-link>
                            <!----><!---->
                            <router-link class="navbar-item" :to="{ path: '/about' }"> About </router-link>
                            <!----><!---->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
</template>

<script>
import { logout } from '@/constants';

export default {
    name: 'MenuView',
    methods: {
        logout() {
            return logout(this);
        },
    },
};
</script>

<!-- eslint-disable max-len -->
