<template>
        <div class="column is-3">
            <router-link
                 :to="{ name: 'season', params: { seasonId: season.seasonId } }">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-3by4">
                            <img v-bind:src="season.imgURL" v-bind:alt="season.number">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h4 class="title is-4"> Season {{season.number}}</h4>
                            <div>{{season.episodeCount}} episodes</div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
</template>

<script>
export default {
    name: 'SeasonView',
    props: {
        season: Object,
    },
};
</script>

<!-- eslint-disable max-len -->
