<!-- eslint-disable max-len -->

<template>
    <router-link
            :to="{ name: 'details', params: { tvshowId: tvshow.tvshowId } }"
            class="column is-3-desktop is-4-tablet is-6-mobile is-clickable">
        <div class="card has-text-black">
            <div class="card-image">
                <figure class="image is-2by3">
                    <img v-bind:alt="tvshow.title" v-bind:src="tvshow.imgURL">
                </figure>
            </div>
            <div class="card-content">
                <div class="content has-text-centered">
                    <p class="title is-3" style="color:black; min-height: 72px;">
                        {{ tvshow.title }}
                    </p>
                    <div class="mb-0">
                        <span class="has-text-weight-bold">Studio: </span>
                        <span>{{ tvshow.studio.name }}</span>
                    </div>
                    <div class="mb-0">
                        <span class="has-text-weight-bold">Genres: </span>
                        <span>{{
                                tvshow.genres.map((e) => e.name)
                                    .join(', ')
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: 'tvshowView',
    props: {
        tvshow: Object,
    },
};
</script>

<!-- eslint-disable max-len -->
