<template>
    <div>
        <MenuView/>
        <router-view/>
    </div>
</template>

<script>
import MenuView from '@/components/MenuView.vue';

export default {
    name: 'App',
    components: { MenuView },
    mounted() {
        // Au chargement de l'application, si token est dans sessionStorage, charger token
        const t = sessionStorage.getItem('token');
        if (t) {
            this.$store.dispatch('storeToken', t);
        }
    },
};
</script>
